[Unit]
Description=SpamKiller Service
After=network.target

[Service]
ExecStart=/root/SpamKiller/SpamKiller
WorkingDirectory=/root/SpamKiller
Restart=always

[Install]
WantedBy=multi-user.target
