[Unit]
Description=TTMediaBot
Requires=pulseaudio.service

[Service]
Type=simple
WorkingDirectory=/home/bot/TTMediaBot
ExecStart=/home/bot/TTMediaBot/TTMediaBot.sh -c /home/bot/TTMediaBot/config.json
Restart=on-failure

[Install]
WantedBy=default.target
