[Unit]
Description=SpamKiller Service
After=network.target

[Service]
ExecStart=/home/bot/SpamKiller/SpamKiller
WorkingDirectory=/home/bot/SpamKiller
Restart=always

[Install]
WantedBy=multi-user.target

